<a href="https://colab.research.google.com/github/Saurav-Raghaw/Python/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
"Pandas" --> "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.
It has functions for analyzing, cleaning, exploring, and manipulating data.
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

'''

In [6]:
import pandas as pd

In [7]:
print(pd.__version__)

1.1.5

In [5]:

name_dataset = {
    'Name': ['Raju', 'Raj', 'Saurav'],
    'Age': [25, 23, 24]
}

data_var = pd.DataFrame(name_dataset)
print(data_var)

     Name  Age
0    Raju   25
1     Raj   23
2  Saurav   24

In [9]:
#Pandas Series: A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

age = [24, 23, 25]

data_var = pd.Series(age)
print(data_var)

#By default label starts with 0 and used to access the item.
print(data_var[2])

0    24
1    23
2    25
dtype: int64
25

In [12]:
#Creating the labels with 'index'
age = [24, 23, 25]

data_var = pd.Series(age, index=['x', 'y', 'z'])
print(data_var)
print(data_var['y']) #now we can access with labels.

x    24
y    23
z    25
dtype: int64
23

In [13]:
name_data = {'saurav':24, 'raju':23, 'raj':25}

data_var= pd.Series(name_data)
print(data_var)

saurav    24
raju      23
raj       25
dtype: int64

In [15]:
#To select only some of the items in the dictionary,
#use the index argument and specify only the items you want to include in the Series.

name_data = {'saurav':24, 'raju':23, 'raj':25}

data_var= pd.Series(name_data, index = ['saurav', 'raj'])
print(data_var)

saurav    24
raj       25
dtype: int64

In [17]:
#DataFrames
#Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

#Series is like a column, a DataFrame is the whole table.


name_dataset = {
    'Name': ['Raju', 'Raj', 'Saurav'],
    'Age': [25, 23, 24]
}

df = pd.DataFrame(name_dataset)
print(df)

     Name  Age
0    Raju   25
1     Raj   23
2  Saurav   24

In [20]:
#Pandas use the loc attribute to return one or more specified row(s).

print(df.loc[0])
print('\n')
print(df.loc[[0, 1]])

Name    Raju
Age       25
Name: 0, dtype: object


   Name  Age
0  Raju   25
1   Raj   23

In [22]:
name_dataset = {
    'Name': ['Raju', 'Raj', 'Saurav'],
    'Age': [25, 23, 24]
}

df = pd.DataFrame(name_dataset, index=['x', 'y', 'z'])
print(df)
print('\n')
print(df.loc['y'])

     Name  Age
x    Raju   25
y     Raj   23
z  Saurav   24


Name    Raj
Age      23
Name: y, dtype: object