source: w3school.

In [12]:
#String variables can be declared either by using single or double quotes.

print('saurav')

saurav

In [6]:
#Python will give you an error if you skip the indentation.
#The number of spaces is up to you as a programmer, but it has to be at least one.

if 7<8:
  print('indentation should be atleast one')

if 7<8:
    print('more white spaces.')

#We have to use the same number of spaces in the same block of code.

indentation should be atleast one
more white spaces.

In [11]:
#If we want to specify the data type of a variable, this can be done with casting.

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

#We can get the data type of a variable with the type() function.

type(x), type(y), type(z)

(str, int, float)

In [14]:
#We can assign the same value to multiple variables in one line.
x=y=z=2

x, y, z

(2, 2, 2)

In [17]:
#Unpacking a list.

day = ['monday', 'Tuesday', 'sunday']
x, y, z = day
x, y, z

('monday', 'Tuesday', 'sunday')

In [18]:
x = 'IITI'
print('College: ' + x)

College: IITI

In [22]:
x = 'IIT'
y = 'Indore'
z = x + y
print(z)

#If you try to combine a string and a number, Python will give you an error.

IITIndore

In [27]:
#Global Vs Local variable

x = "IITI"

def myfunc():
  x = "IIT Indore"
  print(x)

myfunc()

print(x)

#Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.
#To create a global variable inside a function, you can use the global keyword.

IIT Indore
IITI

In [32]:
def myfunc():
  global x
  x = "IITI"

myfunc()

print(x)

IITI

In [34]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword.

x = "IITI"

def myfunc():
  global x
  x = "IIT Indore"

myfunc()

print(x)

IIT Indore