<a href="https://colab.research.google.com/github/Saurav-Raghaw/Python/blob/main/T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Python has the following data types built-in by default.
'''

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

'''

#we can get the data type of any object by using the type() function.

x = 'IITI'
print(type(x))

y = 2j    #Complex numbers are written with a "j" as the imaginary part.
print(type(y))

<class 'str'>
<class 'complex'>

In [6]:
x = ["apple", "banana", "cherry"] #list
type(x)

list

In [7]:
x = ("apple", "banana", "cherry")	#tuple
type(x)

tuple

In [8]:
x = {"name" : "John", "age" : 36} #dict
type(x)

dict

In [9]:
#Float can also be scientific numbers with an "e" to indicate the power of 10.

x = 35e3    #35 x 10^3
y = 12E4    #12 x 10^4
z = -87.7e100   # -87.7 x 10^100

print(type(x))
print(type(y))
print(type(z))

#These notation will required when we implement ML model like linear Regression, MSE.

<class 'float'>
<class 'float'>
<class 'float'>

In [12]:
#Type Conversion

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

#We cannot convert complex numbers into another number type.

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [14]:
#Random Number

import random 

print(random.randrange(1, 10)) # 1 is included and 10 is excluded.

8

In [18]:
#Casting

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(type(x), type(y), type(z))

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(type(x), type(y), type(z), type(w))

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>
<class 'float'> <class 'float'> <class 'float'> <class 'float'>
<class 'str'> <class 'str'> <class 'str'>

In [26]:
#String
#we can assign a multiline string to a variable by using three quotes.

#If we write the below sentence with single quote then it will gives error.

a = '''Lorem ipsum dolor sit amet, 
consectetur adipiscing elit, 
sed do eiusmod tempor incididunt 
ut labore et dolore magna aliqua.'''

print(a) #Newline will also print.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [33]:
#Strings are Arrays


a = 'IIT Indore'
print(a[5], '\n')

#Looping through string.

for x in 'IIT Indore':
  print(x)

n

I
I
T

I
n
d
o
r
e

In [34]:
#The len() function returns the length of a string.

a = 'IIT Indore'
print(len(a))

10

In [40]:
#To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = "Indian Institute of technology Indore"
print("of" in txt)

True

In [45]:
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

txt = "Indian Institute of technology Indore"
print("Indore" not in txt)

False