<a href="https://colab.research.google.com/github/Saurav-Raghaw/Python/blob/main/T3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Slicing Strings
#We can return a range of characters by using the slice syntax.

#Get the characters from position 2 to position 5 (not included):

b = "IIT Indore"
print(b[2:5], '\n')

#By leaving out the start index, the range will start at the first character.

b = "IIT Indore"
print(b[:5], '\n')

#By leaving out the end index, the range will go to the end.

b = "IIT Indore"
print(b[2:])

T I

IIT I

T Indore

In [12]:
#Use negative indexes to start the slice from the end of the string.

b = "IIT Indore"
print(b[-8:-2], '\n') # e = -1, r = -2, .... and so on.here end postion -2 will not included.

b = "IIT Indore"
print(b[:-2])

T Indo

IIT Indo

In [17]:
#Modify Strings

#The upper() method returns the string in upper case:

a = "iit iNDOre"
print(a.upper(), '\n')

#The lower() method returns the string in lower case:

a = "IIT Indore"
print(a.lower())

IIT INDORE

iit indore

In [19]:
#The strip() method removes any whitespace from the beginning or the end:

a = " IIT Indore "
print(a.strip()) # returns "IIT Indore".

IIT Indore

In [20]:
#The replace() method replaces a string with another string:

a = "IIT Indore"
print(a.replace("I", "i"))

iiT indore

In [24]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "IIT, Indore"
print(a.split(",")) # returns ['IIT', ' Indore']

['IIT', ' Indore']

In [26]:
#String Concatenation

#To concatenate, or combine, two strings you can use the + operator.

a = "IIT"
b = " Indore"
c = a + b
print(c)

IIT Indore

In [29]:
#we can combine strings and numbers by using the format() method.

#The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

age = 25
txt = "My name is John, and I am {}"
print(txt.format(age))

#The format() method takes unlimited number of arguments, and are placed into the respective placeholders.

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

#We can use index numbers {0} to be sure the arguments are placed in the correct placeholders.

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

My name is John, and I am 25
I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.

#Escape Characters.
'''
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

'''

# String Methods
[String Methods](https://www.w3schools.com/python/python_strings_methods.asp)