<a href="https://colab.research.google.com/github/Saurav-Raghaw/Python/blob/main/T5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Tuples are used to store multiple items in a single variable.
#Tuple items are ordered, unchangeable, and allow duplicate values.
#Tuples are written with round brackets.

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
#One item tuple, remember the commma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

#Tuple items can be of any data type.
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

<class 'tuple'>
<class 'str'>
('abc', 34, True, 40, 'male')

In [ ]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

banana
cherry

In [ ]:
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
#Check if "apple" is present in the tuple:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) #this will raise an error because the tuple no longer exists

In [3]:
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
#Packing a tuple.

fruits = ("apple", "banana", "cherry")

#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking".
#Unpacking a tuple.

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

#Assign the rest of the values as a list called "red":

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']

In [4]:
#Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [8]:
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

print('\n')
#Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry


apple
banana
cherry

In [9]:
#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [14]:
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:

#Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
1

In [18]:
'''
Python has two built-in methods that you can use on tuples.

count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

'''
print(fruits.count('apple'))
print(fruits.index('cherry'))

1
2

In [21]:
#Set
#Sets are used to store multiple items in a single variable.
#A set is a collection which is both unordered and unindexed.

#Sets are written with curly brackets.

thisset = {"apple", "banana", "cherry"}
print(thisset)  #Sets are unordered, so you cannot be sure in which order the items will appear.

#Once a set is created, you cannot change its items, but you can add new items.

{'apple', 'cherry', 'banana'}

In [22]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [23]:
#To determine how many items a set has, use the len() method.

#Get the number of items in a set.

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [24]:
#A set can contain different data types.

#A set with strings, integers and boolean values.

set1 = {"abc", 34, True, 40, "male"}

In [25]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [26]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [27]:
#Add elements from tropical and thisset into newset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'papaya', 'cherry', 'pineapple', 'banana', 'mango'}

In [28]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'banana', 'kiwi', 'cherry'}

In [29]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

#If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [30]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

#If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

In [31]:
#Remove the last item by using the pop() method.
#You will not know what item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [32]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [35]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

#print(thisset) #Gives error as  name 'thisset' is not defined

In [36]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [37]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [39]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#Both union() and update() will exclude any duplicate items.

{'b', 1, 2, 3, 'a', 'c'}

In [40]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [41]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [42]:
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [43]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [44]:
'''
Set Methods
Python has a set of built-in methods that you can use on sets.

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others


'''

'\nSet Methods\nPython has a set of built-in methods that you can use on sets.\n\nadd()\tAdds an element to the set\nclear()\tRemoves all the elements from the set\ncopy()\tReturns a copy of the set\ndifference()\tReturns a set containing the difference between two or more sets\ndifference_update()\tRemoves the items in this set that are also included in another, specified set\ndiscard()\tRemove the specified item\nintersection()\tReturns a set, that is the intersection of two other sets\nintersection_update()\tRemoves the items in this set that are not present in other, specified set(s)\nisdisjoint()\tReturns whether two sets have a intersection or not\nissubset()\tReturns whether another set contains this set or not\nissuperset()\tReturns whether this set contains another set or not\npop()\tRemoves an element from the set\nremove()\tRemoves the specified element\nsymmetric_difference()\tReturns a set with the symmetric differences of two sets\nsymmetric_difference_update()\tinserts the symmetric differences from this set and another\nunion()\tReturn a set containing the union of sets\nupdate()\tUpdate the set with the union of this set and others\n\n\n'