<a href="https://colab.research.google.com/github/Saurav-Raghaw/Python/blob/main/T7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Elif

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

#Else

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

#One line if statement:

if a > b: print("a is greater than b")

#One line if else statement:

a = 2
b = 330
print("A") if a > b else print("B")

#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

a and b are equal
a is greater than b
a is greater than b
B
=

In [7]:
#The and keyword is a logical operator, and is used to combine conditional statements.
#The or keyword is a logical operator, and is used to combine conditional statements.
#if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.
#same as continue statement.

a = 33
b = 200

if b > a:
  pass

In [8]:
#With the break statement we can stop the loop even if the while condition is true.
#With the continue statement we can stop the current iteration, and continue with the next.
#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [9]:
#Even strings are iterable objects, they contain a sequence of characters:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [12]:
#The range() Function
'''
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

'''
for x in range(6):
  print(x)

#Using the start parameter:
print('\n')
for x in range(2, 6):
  print(x)

0
1
2
3
4
5


2
3
4
5

In [13]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [14]:
#Print all numbers from 0 to 5, and print a message when the loop has ended.

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [15]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [16]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [19]:
#In Python a function is defined using the def keyword:
def my_function():
  print("Hello from a function")


my_function()

Hello from a function

In [20]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

'''
A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

'''

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [21]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [22]:
#The phrase Keyword Arguments are often shortened to kwargs in Python documentations.
#If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [23]:
#Default Parameter Value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [24]:
#function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

def myfunction():
  pass